<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mesas - FactuEco</title>
    <link href="../../output.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div>
        icon
        <span>Buscar</span>
      </div>
      <div>
        <div class="">
          <span>Nombre</span>
          icon
        </div>
        <div class="">icon</div>
      </div>
    </header>
    <section>
      <div class="">
        <span>Salón</span>
        <span>Barra</span>
        <span>Granja</span>
      </div>
    </section>
    <main>
      <div class="tables"></div>
    </main>
  </body>
</html>
